* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@font-face {
    font-family: 'Rodchenko Cond';
    src: url('../media/other/font/Rodchenko-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
.strong-text {
    font-family: "Anton", serif;
}

.rammstein-text {
    font-family: 'Rodchenko Cond', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: /*-2.5em*/ 0; 
    border-top: 2px solid #8B0000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); 
    transition: bottom 0.3s, opacity 0.3s; 
}

/* .navbar:hover {
    bottom: 0; 
    opacity: 1;
} */

.nav-item {
    color: #f0f0f0;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
}

.nav-item:hover {
    background-color: #8B0000; 
    color: #1a1a1a;
}

.nav-item.active {
    background-color: #8B0000; 
    color: #1a1a1a;
    border-bottom: 2px solid #ff0000;
}

#main-container {
    min-width: 100%;
    min-height: fit-content;
    background-color: transparent;
    display: flex;
    padding: 0 10%;
    padding-top: 10%;
    justify-content: space-between;
    margin-bottom: 48px;
}

